.s1
{
   text-decoration:none;
    color:black; 
	background-color:white;
	padding:8px;
	width:10px;
	text-align:center-left;
	border:2px black solid;
	margin-left:50px;
	  border-radius:15px;
}
a:hover
{
	color:white; 
	background-color:rgb(33,158,142);
}
h1
{
	background-color:rgb(155,180,238);
	height:50px;
	text-align:center;
}
#box
{
 background-color:rgb(155,180,238);
 color:black;
 padding:50px ;
 margin-top:15%;
 margin-left:400px;
 margin-right:400px;
  border: 2px black solid;
  border-radius:15px;
}
